{% if not payment_allowed %}
{{ message }}
{% else %}
Clicking on the <strong>Pay Now</strong> button you will get redirected to the THUpay site in order to complete your
transaction. <strong>If your bank card is issued by an overseas bank (e.g. VISA, Mastercard), please select "Bank of
    China" to pay your fee in the THUpay site.</strong>

<dl class="i-data-list">
    <dt>{% trans %}First name{% endtrans %}</dt>
    <dd>{{ registration.first_name }}</dd>
    <dt>{% trans %}Last name{% endtrans %}</dt>
    <dd>{{ registration.last_name }}</dd>
    <dt>{% trans %}Total amount{% endtrans %}</dt>
    <dd>{{ format_currency(amount, currency, locale=session.lang) }}</dd>
    <dt></dt>
    <dd>
        <form name="payment_form" action="{{ settings.url }}" method="POST">
            <input type="hidden" name="paymentItemId" value="{{ paymentItemId }}">
            <input type="hidden" name="method" value="{{ method }}">
            <input type="hidden" name="timestamp" value="{{ timestamp }}">
            <input type="hidden" name="signType" value="{{ signType }}">
            <input type="hidden" name="sign" value="{{ sign }}">
            <input type="hidden" name="charset" value="{{ charset }}">
            <input type="hidden" name="version" value="{{ version }}">
            <input type="hidden" name="bizContent" value="{{ bizContent }}">

            <input type="hidden" name="method_fc" value="{{ method_fc }}">
            <input type="hidden" name="bizContent_fc" value="{{ bizContent_fc }}">
            <input type="hidden" name="sign_fc" value="{{ sign_fc }}">

            <input type="image" name="submit" src="{{ logo_url }}">
            <!-- <input type="submit" name="submit_domestic" value="domestic">
            <input type="submit" name="submit_international" value="international"
                onclick="change_method_to_international_payment()"> -->
        </form>
    </dd>
</dl>
<script>
    function change_method_to_international_payment() {
        document.payment_form.method.value = document.payment_form.method_fc.value
        document.payment_form.bizContent.value = document.payment_form.bizContent_fc.value
        document.payment_form.sign.value = document.payment_form.sign_fc.value
    }
</script>
{% endif %}